body{
  color: rgb(75, 74, 73);
  margin: 0 auto;
  text-align: center;
  background-color: #FAFAFA;
  font-family: "Neuton";;
}
.cat-list {
  display: relative;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  text-align: center;

}
.grid-item {
  margin: 20px 10px;
  display: inline-block;
  top: -20px;
  height: 300px;
  width: 100px;
  background-color: rgb(29, 177, 203);
}

h2 {
  text-align: center;
}
